@model researchOnlineWebsite.Models.Research

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Research</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOfPage" class="control-label"></label>
                <input asp-for="NumberOfPage" class="form-control" min="1" required />
                <span asp-validation-for="NumberOfPage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label">choose language</label>
                <select id="drpLanguageList" class="form-control" asp-for="Language" required>
                    <option value="">--Select--</option>
                    <option value="Arabic">Arabic</option>
                    <option value="English">English</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>*@
            <div class="form-group">


                @*<label asp-for="Specialize" class="control-label"></label>*@
                @*<input asp-for="Specialize" class="form-control" />*@
                @*<span asp-validation-for="Specialize" class="text-danger"></span>*@
                <div class="form-group">
                    <label asp-for="Specialize" class="control-label">choose Specialize</label>
                    <select id="drpSpecializeList" class="form-control" asp-for="Specialize" required>
                        <option value="">--Select--</option>
                        <option value="Arabic">Geography</option>
                        <option value="English">Math</option>
                    </select>
                    <span asp-validation-for="Specialize" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" / required>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="StatId" class="control-label"></label>
            <select asp-for="StatId" class ="form-control" asp-items="ViewBag.StatId"></select>
        </div>*@
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control"></input>
            </div>
            @*<div class="form-group">
            <label asp-for="ModifiedDate" class="control-label"></label>
            <input asp-for="ModifiedDate" class="form-control" />
            <span asp-validation-for="ModifiedDate" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="RedirectTo" class="control-label"></label>
            <input asp-for="RedirectTo" class="form-control" />
            <span asp-validation-for="RedirectTo" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="الحفظ والدفع لاحقا" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input value="الحفظ والدفع حاليا" class="btn btn-primary" />
            </div>

            <p style="color:red"> @ViewData["message"]</p>
            <p style="color:red"> @ViewData["message1"]</p>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

